<% provide(:page_title, 'All_Article') %>
     <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <h1 class="page-header">
          Page Heading
          <small>Secondary Text</small>
        </h1>
          <% @articles.each do |article| %>
            <%= render partial: "article", locals: {article: article} %>
          <% end %>
          <div class="pager">
            <!-- Pager -->
            <%= paginate @articles, theme: 'twitter-bootstrap-3' %>
          </div>
      </div>
      <%= render "layouts/sitebar" %>
    </div>
    <!-- /.row -->
    <hr>
