<div class="container text-center">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="about-sec">
                <h3>About me</h3>
                <%= image_tag "profile.jpg", width: "200", class: "img-responsive img-circle"%>
                <br>
                <div class="space-40"></div>
                <p class="lead">
                           I have been a web-designer & front-end developer for over one year, and a graphic designer for over 2 years professionally. I am interested in all types of visual communication, but my major focus is on designing websites, mobile & tablet interfaces. I also have skills in other fields like branding, icon design or web development. In addition, I have good knowledge about marketing online, Google SEO, Google Adwords, Facebook apps and Facebook Adwords procedures.
                </p>
                <p>
                    Personally, I have a good sense of humor and have good team work skills. I can balance work with good focus, as well as keeping a social atmosphere to make the job more exiting. I hope to have the opportunity to work with you in the future.
                </p>
                <div class="space-30"></div>
                <h5>Follow me</h5>
                <ul class="list-inline text-center">
                    <li>
                        <a href="#" class="social-icon si-dark si-facebook">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                     <li>
                        <a href="#" class="social-icon si-dark si-twitter">
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                     <li>
                        <a href="#" class="social-icon si-dark si-linkedin">
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                     <li>
                        <a href="#" class="social-icon si-dark si-instagram">
                            <i class="fa fa-instagram"></i>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="space-80"></div>
<div class="container-fluid instagram-feed no-padding">
            <h3 class="center-title"></h3>
            <div class="row no-margin">
                <div class="col-md-2 col-sm-3 no-padding">
                    <a href="#"><img src="http://bootstraplovers.com/templates/assan-v2.6/assan-blog/images/img-4.jpg" alt="" class="img-responsive"></a>
                </div>
                <div class="col-md-2 col-sm-3 no-padding">
                    <a href="#"><img src="http://bootstraplovers.com/templates/assan-v2.6/assan-blog/images/img-5.jpg" alt="" class="img-responsive"></a>
                </div>
                <div class="col-md-2 col-sm-3 no-padding">
                    <a href="#"><img src="http://bootstraplovers.com/templates/assan-v2.6/assan-blog/images/img-6.jpg" alt="" class="img-responsive"></a>
                </div>
                <div class="col-md-2 col-sm-3 no-padding">
                    <a href="#"><img src="http://bootstraplovers.com/templates/assan-v2.6/assan-blog/images/img-7.jpg" alt="" class="img-responsive"></a>
                </div>
                <div class="col-md-2 col-sm-3 no-padding">
                    <a href="#"><img src="http://bootstraplovers.com/templates/assan-v2.6/assan-blog/images/img-8.jpg" alt="" class="img-responsive"></a>
                </div>
                <div class="col-md-2 col-sm-3 no-padding">
                    <a href="#"><img src="http://bootstraplovers.com/templates/assan-v2.6/assan-blog/images/img-9.jpg" alt="" class="img-responsive"></a>
                </div>
            </div>
        </div>