            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                <%= render "wiggets/notice" %>
                <%= render "wiggets/seachbox" %>
                <%= render "wiggets/tagscloud" %>
                <%= render "wiggets/profile" %>
            </div>
